html {
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
}
.content {
    width: 100%;
    height: 100%;
    background-color: rgb(90, 71, 47);
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

}
.main {
    border: 5px solid black;
    width: 80%;
    height: 80%;
    background-color: blanchedalmond;
    margin: 30px auto;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.currentPhoto{
    object-fit: cover;
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}

.content h1 {
    flex-basis: 100%;
    width: 100%;
    text-align: center;
    margin: 30px auto;
    border: 3px dotted black;
}

.content .material-icons-outlined {
    font-size: 100px;
}
.radioGroup{
    position: absolute;
    bottom: 0px;
    text-align: center;
}
input[type=radio] {
    height: 35px;
    width: 35px;
}